{% extends 'tpl/index.html' %}
{% block content %}

<div class="container pt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Disk usage</h5>
                    [[ getDiskPercentage ]]%
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" :class="{ 'bg-danger': (getDiskPercentage > 60) }" :style="{ 'width': `${getDiskPercentage}%` }"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Memory usage</h5>
                    [[ getMemoryPercentage ]]%
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" :class="{ 'bg-danger': (getMemoryPercentage > 60) }" :style="{ 'width': `${getMemoryPercentage}%` }"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>CPU usage</h5>
                    [[ geteCPUPercentage ]]%
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" :class="{ 'bg-danger': (geteCPUPercentage > 60) }" :style="{ 'width': `${geteCPUPercentage}%` }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block computeds %}

getDiskPercentage() {
    return {{ sysinfo.disk.percent }};
},
getMemoryPercentage() {
    return {{ sysinfo.memory }};
},
geteCPUPercentage() {
    return {{ sysinfo.cpu }};
}

{% endblock computeds %}
