<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Memory Usage Chart</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h4>Memory Usage History</h4>
<div id="chart-container">
    <canvas id="memory-chart"></canvas>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Create initial chart data
        let memoryData = [];
        let labels = [];
        const ctx = document.getElementById('memory-chart').getContext('2d');
        const memoryChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Usage (%)',
                    data: memoryData,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                    fill: 'origin'
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 100
                    }
                },
                interaction: {
                    mode: 'nearest',
                    intersect: false
                },

                hover: {
                    mode: 'nearest',
                    intersect: false
                },
                animation: {
                    duration: 10
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });

        // Update chart data every 5 seconds
        setInterval(() => {
            fetch('/cpanel/get_memory_usage')
                .then(response => response.json())
                .then(data => {
                    const memoryUsage = data.memory;
                    const currentTime = new Date().toLocaleTimeString();
                    memoryData.push(memoryUsage);
                    labels.push(currentTime);
                    if (memoryData.length > 10) {
                        memoryData.shift();
                        labels.shift();
                    }
                    memoryChart.update();
                })
                .catch(error => console.error(error));
        }, 1000);

    });
</script>
<style>
    #chart-container {
        width: 33%;
        max-width: 800px;
        margin: 0 auto;
    }
</style>
</body>
</html>