<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="/favicon.ico">
        <span class="fs-4">PyCMS</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li v-for="element in sidebar" class="nav-item">
            <a :href="element.url" class="nav-link" :class="isActiveSidebar(element.url) ? `active` : `text-white`"
               aria-current="page">
                <i :class="element.icon" class="me-2"></i>
                [[ element.text ]]
            </a>
            <ul v-if="element.folder" class="nav flex-column ml-3">
                <template v-for="submodule in element.submodules">
                    <li>
                        <a :href="submodule.url" class="nav-link"
                           :class="isActiveSidebar(submodule.url) ? `active` : `text-white`">
                            <i :class="submodule.icon" class="me-2">&nbsp</i>
                            [[ submodule.text ]]
                        </a>
                        <ul v-if="submodule.folder" class="nav flex-column ml-3">
                            <template v-for="submodule2 in submodule.submodules">
                                <li>
                                    <a :href="submodule2.url" class="nav-link"
                                       :class="isActiveSidebar(submodule2.url) ? `active` : `text-white`">
                                        <i :class="submodule2.icon" class="me-2">&nbsp&nbsp&nbsp&nbsp</i>
                                        [[ submodule2.text ]]
                                    </a>
                                    <ul v-if="submodule2.folder" class="nav flex-column ml-3">
                                        <template v-for="submodule3 in submodule2.submodules">
                                            <li>
                                                <a :href="submodule3.url" class="nav-link"
                                                   :class="isActiveSidebar(submodule3.url) ? `active` : `text-white`">
                                                    <i :class="submodule3.icon" class="me-2"></i>
                                                    [[ submodule3.text ]]
                                                </a>
                                            </li>
                                        </template>
                                    </ul>
                                </li>
                            </template>
                        </ul>
                    </li>
                </template>
            </ul>
        </li>
    </ul>

    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
            <!-- <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->
            <i class="bi bi-person me-2"></i>
            <strong>{{ user.username }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>