<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ application.title }}</title>
    {{ application.load_meta() | safe }}
</head>



<body>
    {% include "inc/changeable/hero-section.html" %}
    <!-- Content block -->
    {% block content %}

    {% endblock content %}
    <!-- End of content block -->
    {% if application.user_is_authorized() %}
        Logged in as {{ application.user_is_authorized() }}
    {% else %}
        Not logged in {{ application.user }}
    {% endif %}

    <!-- Footer -->
    {% block footer %}{% endblock footer %}

    {{ application.load_script() | safe }}

</body>

</html>